
.small{
 padding-left: 9px !important;
 padding-right: 9px !important;
}
.attribImg{
      position: relative;
    
    height: 150px;
    width:100% ;
    background: #fff;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
     
}
#divInfobia{
/*  padding-top: 10px;*/
}
.product-description p {
      text-transform: lowercase !important;
}
.product-description p::first-letter {

  text-transform: uppercase !important;
}
@media(max-width: 860px){
  .number-input{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: space-around !important;
  }
  .plusminus {
 
    width: 32px !important;
    height: 30px !important;
    }
    .quantity{
      width:58px !important;
    }
}
.form-check-input {
   
    margin-left: 0 !important;
}
#product .product-add-to-cart {
    margin-top: 19px;
    display: none !important;
}

#cacfsignature_simulator_container {
    text-align: center;
    padding: 5px;
    display: none !important;
}
.titreAttrib{
    display: inline-block;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: initial;
    text-align: center;
    width: 100%;
}

.max-quantity-text{
    font-size: 10.5px;
    opacity: .7;
    width: 100%;
    text-align: center;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
}

@media(max-width: 768px){
  .titreAttrib{
    display: inline-block;
   
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.align-middle{
  font-size: 10px;
}
}
@media(max-width: 425px){
  .titreAttrib{
    display: inline-block;
   
    white-space: normal;
   
}
.align-middle{
  font-size: 15px;
}
}
#product-availability{
  display:none !important;
}
#product .product-information p {
  margin-top:5px !important;
  text-transform: initial !important;
   /* line-height: 5px !important;*/
}
#product .product-add-to-cart {
    margin-top: 19px;
    /*display: none !important;*/
}
.product-title{
  color:#555 !important;
}
/* HIDE RADIO */
[type=radio] { 
 /* visibility: hidden !important;*/
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer !important;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00 !important;
}
    .attribname {
        line-height: 1px;
        font-size: 11px;
    }
    .current-price span{
        color:black !important;
    }
   .tax-shipping-delivery-label {

        color: black !important;
    }
    .product-prices div {
    /*margin: .625rem;
    padding-right: 5px;*/
    }
    .img_price_infobia{
      width:80%;
    }
    .product-prices-infobia{
        position: fixed;
    z-index: 30;
    width: 100%;
    background:white ;
    box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 30%);
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    /*margin:5px;*/
    }
    .container-Infobia{
            display: flex;
    align-items: center;
    justify-content: center;
    }
    .product-info-infobia{

    }
    
.plusminus{
  
    font-size: 20px ;
    color: #555 ;
    width: 50px;
    height: 39px;
    background: transparent;
    border: none;
    cursor: pointer;
}
#danger-alert-infobia
{
    position: fixed;
    right: 0px;
    top: 102px;
    width: 45%;
    z-index: 300;
    /*background-color: white !important;
    border: 3px solid red;
    color: red !important;*/
}

.quantity{
    
   /* border:1px solid blue !important;*/
    background: none !important;
    font-size:17px !important;
    text-align: center !important;
    padding: unset !important;

}
.quantity:focus
{
    border:1px solid grey !important;
}  
#divInfobia .form-control:focus, .input-group.focus {
    outline: none !important;
}
.number-input{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
   /* border:2px solid #8080805c;
    border-radius: 5px;*/

}  


    .qte {
        width: 20% !important;
        background-color: white;
    }

    label,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    span {
        /*text-transform: capitalize;*/
    }
#cacfsignature_simulator_container {
    text-align: center;
    padding: 5px;
    display: none !important;
}
    label {
        text-align: center !important;
    }

    #product .product-add-to-cart {

       /* display: none !important;*/
    }

    .sous-option {
        /*display: none;*/
    }

    /* HIDE RADIO */
    .radio_img {
          display: none;
    }

    .checkbox_img {
        display: none;
    }

    /* IMAGE STYLES */
    [type=radio]+img {
        cursor: pointer !important;
    }
   
    .form-control {
        background: white !important;
    }
    .groupInfobia{
        background: white;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    }

    .btndisplayGroup {
        background-color: white !important;
        border-color: #fc6000 !important;
        margin: 10px;
        border-radius: 8px;
        text-align: left;
        width: 97%;
    }

    

    .divGroup {
        
        margin: 8px !important;
      /*  padding: 10px !important;*/
        
       
    }
.col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-right: 4px;
    padding-left: 4px;
}
    .titleOption {
        text-transform: initial;
        margin-top: 3px;
        color:black;
        font-size: 18px !important;
        font-weight: bold;
   
}
/*zakwas make BIG*/
#check_23{
    width: 100%;
}
 


 .disabledInfobia {
    pointer-events: none!important;
    background: silver!important;
    border-color: silver!important;
    position: relative;
    top: 0;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80)!important;
}




@media (max-width: 768px)
{
    .product-prices-infobia {
        display: none!important;
    }
}
.plusminusDiv
{
    margin-bottom: 5px;
}